ul,
ol {
    list-style: none;
}

img {
    width: 2%;
    background-color: black;
    border-radius: 100%;
    border: 1px solid white;
}

.nav li a {
    background-color: rgba(122, 121, 121, 0.2);
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    border: 1px solid black;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    width: 80%;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}