body {
    background: linear-gradient(90deg, rgb(32, 32, 32), black);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: white;
    text-decoration: none;
}

.title {
    color: white;
    font-size: 30px;
    margin: 3%;
}

.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(122, 121, 121, 0.2);
    border: 1px solid white;
    border-radius: 25px;
    width: 80%;
    height: auto;
    color: white;
}

.section {
    color: white;
    font-size: 20px;
    padding: 5%;
}

.section a{
    padding: 4%;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
}

.section a:hover{
    background-color: white;
    color: black;
    transition: all 0.75s;
}

.section img {
    width: fit-content;
    background-color: black;
    border-radius: 100%;
    border: 1px solid white;
}

.section p {
    text-align: justify;
}

.proyecto {
    width: 80%;
    margin: 20px auto;
    color: #fff;
    padding: 15px;
}

.proyecto img.izquierda {
    float: left;
    margin-right: 15px;
    width: 50%;
}

div.reset {
    clear: both;
  }