<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia - Fernando Pintado Ramos</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="title">
        Experiencia - Fernando Pintado Ramos
    </div>

    <div class="pro">
        <h2>Hot Key SL.</h2>

        <p>
            Junio 2022 - Actualidad
        </p>

        <h4>
            Tecnologías usadas
        </h4>

        <img src="../img/tecs/laravel.svg" alt="" title="Laravel" width="40px">
        <img src="../img/tecs/css.png" alt="" title="CSS" width="40px">
        <img src="../img/tecs/html-5.png" alt="" title="HTML-5" width="40px">
        <img src="../img/tecs/js.png" alt="" title="JavaScript" width="40px">
        <img src="../img/tecs/php.png" alt="" title="PHP" width="40px">
        <img src="../img/tecs/Foxpro.png" alt="" title="Visual Fox Pro" width="40px">
    </div>
</body>
</html>