<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos - Fernando Pintado Ramos</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="wrapper">
        <h3>Proyectos personales</h3>
    
    </div>
    <div class="proyecto">
        <img src="../img/Calculadora.PNG" alt="Calculadora HTML">
        <h4>Calculadora HTML - CSS - JS</h4>
        <p>
            Esta es una calculadora realizada con HTML CSS y JAVASCRIPT.
        </p>   
        
        <p>
            Esta calculadora contiene funciones tales como division, multiplicacion
            suma y resta.
        </p>

        <p>Link al codigo:
            <a href="https://github.com/FernandoPintadoRamos/CalculadoraHTML.git">
                Click Aqui
            </a>
        </p>

        <p>Link al programa:
            <a href="https://fernandopintadoramos.github.io/CalculadoraHTML/">
                Click Aqui
            </a>
        </p>
    </div>

    <script src="../script.js"></script>
</body>

</html>