<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos - Fernando Pintado Ramos</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="title">
        Proyectos - Fernando Pintado Ramos
    </div>
    
    <div class="wrapper"> 
    </div>

    <div class="pro">
        <h3>Calculadora</h3>

        <a href="https://github.com/FernandoPintadoRamos/CalculadoraHTML.git">Ver github</a>
        <a href="https://fernandopintadoramos.github.io/CalculadoraHTML/">Ver programa</a>

        <p>
            <img src="../img/tecs/html-5.png" alt="" width="20px" title="HTML - 5" class="tec">
            <img src="../img/tecs/js.png" alt="" width="20px" title="JavaScript" class="tec">
            <img src="../img/tecs/css.png" alt="" width="20px" title="HTML - 5" class="tec">
        </p>
    </div>
    

    <script src="../script.js"></script>
</body>

</html>